<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTIeZVzBMzDY_tx6DpJJXNQpO708P6KiM&sensor=false"></script>
<script type="text/javascript" src="/assets/getCurrentLocation.js"></script>

<div class="jumbotron" id="home-hero-overlay">
  <form class="form-inline" role="form" id="main-search">
    <div class="form-group">
      <label class="sr-only" for="search-item">What are you looking for?</label>
      <input type="text" class="form-control" id="search-item" placeholder="e.g. pale ales, tacos, sushi">
    </div>
    <span>near</span>
    <div class="form-group">
      <label class="sr-only" for="search-location">Where are you looking for it?</label>
      <input type="text" class="form-control" id="search-location" placeholder="e.g. Palo Alto, CA">
    </div>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </form>
  <div id="showcase-item-rating">
    <% for i in (1..4) %>
    <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <div id>Seared Scallops at The French Laundry</div>
  </div>
</div>

<h2 id="currently-popular-heading">Currently Popular Near Palo Alto, CA</h2>

<% for i in (1..2) %>
<div class="row popular-items-row">
  <% for i in (1..6) %>
  <div class="col-md-2">
    <div class="popular-item">
      <%= image_tag("sushi.jpg") %>
      <div>
        <% for i in (1..4) %>
        <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <span class="popular-item-price">$5.95</span>
      </div>
      <div>Dragon Roll</div>
      <div>
        at <a href="">Sushi88</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
