<div class="container-fluid" id="admin-signup-login">
  <div class="row">
    <div class="col-sm-3 col-md-offset-2" id="admin-signup">
      <h3>Sign up as a restaurant admin to take control of your restaurant's:</h3>
      <hr/>
      <h4>
        <ul>
          <li>Menu Items, Prices, Descriptions</li>
          <li>Photos</li>
          <li>Hours of operation</li>
          <li>Address</li>
        </ul>
      </h4>
    </div>

    <div class="col-sm-3 col-md-offset-2" id="admin-login">
      <h3>Log in as a restaurant admin</h3>
      <hr/>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <!--<label for="admin-login-email" class-"col-sm-3 control-label">Email</label>-->
          <div class="col-sm-12">
            <input type="email" class="form-control" id="admin-login-email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <!--<label for="admin-login-password" class-"col-sm-3 control-label">Password</label>-->
          <div class="col-sm-12">
            <input type="password" class="form-control" id="admin-login-password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <button type="submit" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </form>
    </div>

  </div>  
</div>