<% num_rows = (dishes.length.to_f / num_items_per_row).ceil %>
<% num_pages = (dishes.length.to_f / num_items_per_row / num_rows_per_page).ceil %>
<% col_width = ResultsController::NUM_BOOTSTRAP_COLS / num_items_per_row %>
<%= tag "div", { id: "data-for-dish-paginator", data: { num_pages: num_pages } }, true %></div>

<div id='dish-results'>

  <div class="row pagination-row">
    <div class="col-sm-12">
      <ul id="dish-paginator">
      </ul>
    </div>
  </div>

  <% page_num = 1 %>
  <% for i in (1..num_rows) %>
  <div class="row item-squares-row dish-squares-page-<%= page_num %>-">
    <% for j in (1..num_items_per_row) %>
    <div class="col-sm-<%= col_width %>">
      <% index = ((i-1)*num_items_per_row)+(j-1) %>
      <% if index <= dishes.length then %>
        <%= render :partial => "shared/dish_square", :locals => {:dish => dishes[index]} %>
      <% end %>
    </div>
    <% end %>
  </div>
  <% if i % num_rows_per_page == 0 then page_num += 1 end %>
  <% end %>

</div>