<div class="item-square">
  <%= image_tag("sushi.jpg") %>
  <div>
    <% for i in (1..4) %>
    <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <span class="popular-item-price">$5.95</span>
  </div>
  <div>Dragon Roll</div>
  <div>
    at <a href="">Sushi88</a>
  </div>
</div>