<% num_rows = (restaurants.length.to_f / num_items_per_row).ceil %>
<% num_pages = (restaurants.length.to_f / num_items_per_row / num_rows_per_page).ceil %>
<% col_width = ResultsController::NUM_BOOTSTRAP_COLS / num_items_per_row %>
<%= tag "div", { id: "data-for-restaurant-paginator", data: { num_pages: num_pages } }, true %></div>

<div id='restaurant-results'>

  <div class="row pagination-row">
    <div class="col-sm-12">
      <ul id="restaurant-paginator">
      </ul>
    </div>
  </div>

  <% page_num = 1 %>
  <% for i in (1..num_rows) %>
  <div class="row item-squares-row restaurant-squares-page-<%= page_num %>-">
    <% for j in (1..num_items_per_row) %>
    <div class="col-sm-<%= col_width %>">
      <% index = ((i-1)*num_items_per_row)+(j-1) %>
      <% if index < restaurants.length then %>
        <%= render :partial => "shared/restaurant_square", :locals => {:restaurant => restaurants[index]} %>
      <% end %>
    </div>
    <% end %>
  </div>
  <% if i % num_rows_per_page == 0 then page_num += 1 end %>
  <% end %>

</div>