<% for i in (1..2) %>
<div class="row item-squares-row">
  <% for j in (1..6) %>
  <div class="col-sm-2">
    <% index = ((i-1)*6)+j %>
    <%= render :partial => "shared/item_square", :locals => {:dish => dishes[index]} %>
  </div>
  <% end %>
  </div>
<% end %>