<div class="container-fluid">
  <div class="row">
    <div id="home-hero">
      <div id="home-hero-overlay">
        <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="search-food-item">What are you looking for?</label>
            <input type="text" class="form-control" id="search-food-item" placeholder="e.g. pale ales, tacos, sushi">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>