<div class="jumbotron">
  <div id="home-hero-overlay">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="search-item">What are you looking for?</label>
        <input type="text" class="form-control" id="search-item" placeholder="e.g. pale ales, tacos, sushi">
      </div>
      <div class="form-group">
        <label class="sr-only" for="search-location">Where are y</label>
        <input type="text" class="form-control" id="search-location" placeholder="e.g. Palo Alto, CA">
      </div>
    </form>
  </div>
</div>
