<%= content_tag :div, class: "temp_information", data: {loc: @search_loc, item: @item_search } do %>
<% end %>

<div class="map-search">
<form id="map-bar">
  Location: <input name="location">
</form>
  <button id="mapsearch">Search</button>
</div>
 
 <div id="map-canvas" style="width:500px;height:380px;"></div>

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTIeZVzBMzDY_tx6DpJJXNQpO708P6KiM&sensor=false"></script>

 <script type="text/javascript" src="/assets/googleMap.js"></script>

<p><%= @dishes %></p>
