<div class="map-search">
<form id="map-bar">
  Location: <input name="location">
</form>
  <button id="mapsearch">Search</button>
</div>
 
 <div id="map-canvas" style="width:500px;height:380px;"></div>

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTIeZVzBMzDY_tx6DpJJXNQpO708P6KiM&sensor=false"></script>

 <script type="text/javascript" src="/assets/googleMap.js"></script>





<div class="search">
    <h3>RESULTS</h3>
    <p>
    The best <%= @query %> in town is:
    </p>
    <table class="results" cellspacing="0">
      <% for option in @foods do %>
        <tr class="foods">
          <td><%= option %></td>
        </tr>
      <% end %>
      <% for option in @drinks do %>
        <tr class="drinks">
          <td><%= option %></td>
        </tr>
      <% end %>
    </table>
</div>