<%= tag "div", { id: "results-data", data: { search_item: @search_item, search_loc: @search_loc, search_lat: @search_lat, 
  search_long: @search_long, restaurants: @restaurants } }, true %></div>

<div id="map-canvas" style="width:100%;height:380px;"></div>

<div class="container-fluid" id="search-results-container">
  <div class="row">
    <div class="col-sm-12" id="distance-selector">
      <span>Search Distance:</span>
      <a href='#' value='1'>1 Mile</a>
      <span>&middot;</span>
      <a href='#' value='3'>3 Miles</a>
      <span>&middot;</span>
      <a href='#' value='5'>5 Miles</a>
      <span>&middot;</span>
      <a href='#' value='10'>10 Miles</a>
      <span>&middot;</span>
      <a href='#' value='20'>20 Miles</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h2>Dish Results</h2>
    </div>
    <div class="col-sm-6">
      <h2>Restaurant Results</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div id="dish-results-container">
        <%= render :partial => "shared/item_squares", :locals => {:dishes => @dishes, :with_json => false, :num_results => @num_results,
          :num_items_per_row => @num_items_per_row, :num_rows_per_page => @num_rows_per_page} %>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="restaurant-results-container">
      </div>
    </div>
  </div>
</div>