<%= content_tag :div, class: "temp_information", data: {loc: @search_loc, item: @item_search, dishes: @dishes, restaurants: @restaurants, latitude: @lat, longitude: @lon} do %>
<% end %>

<div id="results">
<div class="map-search">
<form id="map-bar">
  Max Distance (in miles): <input id="distanceMap" name="distance">
</form>
  <button id="updatemap">Update Map</button>
</div>
 
<div id="map-canvas" style="width:100%;height:380px;"></div>

<p><%= @dishes %></p>
<p><%= @restaurants %></p>

</div>
