<%= content_tag :div, class: "temp_information", data: {loc: @search_loc, item: @item_search, dishes: @dishes, restaurants: @restaurants, latitude: @lat, longitude: @lon} do %>
<% end %>

<div id="results">
<div class="map-search">
<form id="map-bar">
  Max Distance (in miles): <input id="distanceMap" name="distance">
</form>
  <button id="updatemap">Update Map</button>
</div>
 
 <div id="map-canvas" style="width:500px;height:380px;"></div>

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTIeZVzBMzDY_tx6DpJJXNQpO708P6KiM&sensor=false"></script>

 <script type="text/javascript" src="/assets/googleMap.js"></script>

<p><%= @dishes %></p>

</div>
