.pagination-row {
  text-align: center;
}
#paginator a {
  cursor: pointer;
}
.item-squares-row {
  margin: 0px 0px 25px 0px;
}
/*.item-squares-row [class*=col-] {
  display: table-cell;
  vertical-align: middle;
  float: none;
}*/
[class*=-squares-page-] {
  display: none;
}
[class*=-squares-page-1-] {
  display: block;
}
.item-square {
  padding: 10px;
  color: #F4F0EC;
}
#dish-results-container .item-square {
  background-color: #343434;
}
#restaurant-results-container .item-square {
  background-color: #555555;
}
.item-square img {
  max-width: 100%;
}
.item-square .item-square-price {
  float: right;
}
.item-square .item-link {
  color: #FF91A4;
  font-weight: bold;
}
.item-square .restaurant-link {
  font-style: italic;
}
.no-results {
  text-align: center;
  font-style: italic;
}