/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*html, body {
  min-height: 100%;
}*/
body {
  padding-top: 50px;
}
#application-header {
  background-color: #8B0000;
  border: none;
}
#application-header-brand {
  font-family: 'The Girl Next Door', cursive;  
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
}
#header-search-submit {
  visibility: hidden;
}
#header-login-button {
  background-color: #7B0000;
  color: #ffffff;
}
#header-login-button:hover {
  background-color: #6B0000;
}
#header-user-dropdown {
  padding: 0px !important;
}
#header-fb-pic {
  height: 50px;
}
#fb-login-button {
  width:300px;
  height:46px;
  background-image: url('active_600.png');
}
#fb-login-button:active {
  background-image: url('pressed_600.png');
}
#login-modal {
  text-align: center;
}
.item-square {
  padding: 10px;
  background-color: #dddddd;
}
.item-square img {
  max-width: 100%;
  border: 1px solid #888888;
}
.item-square .item-square-price {
  float: right;
}
.item-square a {
  color: blue;
  font-style: italic;
}