// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant-page {
  .review {
    padding: 1em 0;
  }

  .bold {
    font-weight: 800;
  }

  .hero img {
    zoom: 2;  //increase if you have very small images

    display: block;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
  }
}

#restaurant-menu {
}