// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant-page {
  .hero {
    width: 100%;
    text-align: center;
  }
  
  .review {
    margin: 1em 0;
  }
}

#restaurant-menu {
}

div.padded {
  padding: 1em 0;
}

