// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#results-search-data {
  display: none;
}
.search-results h2 {
  margin-left: 15px;
  font-weight: bold;
}