// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.results{
	float:left;
}
.foods{
float:left;
margin: 10px;
}
.drinks{
float:left;
margin: 10px;
}

h3{
	font-size: 16px;
	font-weight:bold;
}